<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuanLyBatDongSan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DanhSachThanhVienServlet</display-name>
    <servlet-name>DanhSachThanhVienServlet</servlet-name>
    <servlet-class>controller.DanhSachThanhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachThanhVienServlet</servlet-name>
    <url-pattern>/DanhSachThanhVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangNhapAdminServlet</display-name>
    <servlet-name>DangNhapAdminServlet</servlet-name>
    <servlet-class>controller.DangNhapAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapAdminServlet</servlet-name>
    <url-pattern>/DangNhapAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrangChuServlet</display-name>
    <servlet-name>TrangChuServlet</servlet-name>
    <servlet-class>controller.TrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangChuServlet</servlet-name>
    <url-pattern>/TrangChuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietThanhVienServlet</display-name>
    <servlet-name>ChiTietThanhVienServlet</servlet-name>
    <servlet-class>controller.ChiTietThanhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietThanhVienServlet</servlet-name>
    <url-pattern>/ChiTietThanhVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachBaiDangCuaThanhVienServlet</display-name>
    <servlet-name>DanhSachBaiDangCuaThanhVienServlet</servlet-name>
    <servlet-class>controller.DanhSachBaiDangCuaThanhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachBaiDangCuaThanhVienServlet</servlet-name>
    <url-pattern>/DanhSachBaiDangCuaThanhVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachBaiDangServlet</display-name>
    <servlet-name>DanhSachBaiDangServlet</servlet-name>
    <servlet-class>controller.DanhSachBaiDangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachBaiDangServlet</servlet-name>
    <url-pattern>/DanhSachBaiDangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietBaiDangServlet</display-name>
    <servlet-name>ChiTietBaiDangServlet</servlet-name>
    <servlet-class>controller.ChiTietBaiDangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietBaiDangServlet</servlet-name>
    <url-pattern>/ChiTietBaiDangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatServlet</display-name>
    <servlet-name>DangXuatServlet</servlet-name>
    <servlet-class>controller.DangXuatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatServlet</servlet-name>
    <url-pattern>/DangXuatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatAdminServlet</display-name>
    <servlet-name>DangXuatAdminServlet</servlet-name>
    <servlet-class>controller.DangXuatAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatAdminServlet</servlet-name>
    <url-pattern>/DangXuatAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachTatCaBaiDangServlet</display-name>
    <servlet-name>DanhSachTatCaBaiDangServlet</servlet-name>
    <servlet-class>controller.DanhSachTatCaBaiDangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachTatCaBaiDangServlet</servlet-name>
    <url-pattern>/DanhSachTatCaBaiDangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatTrangThaiBaiDangAdminServlet</display-name>
    <servlet-name>CapNhatTrangThaiBaiDangAdminServlet</servlet-name>
    <servlet-class>controller.CapNhatTrangThaiBaiDangAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatTrangThaiBaiDangAdminServlet</servlet-name>
    <url-pattern>/CapNhatTrangThaiBaiDangAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatTrangThaiGoBaiDangAdminServlet</display-name>
    <servlet-name>CapNhatTrangThaiGoBaiDangAdminServlet</servlet-name>
    <servlet-class>controller.CapNhatTrangThaiGoBaiDangAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatTrangThaiGoBaiDangAdminServlet</servlet-name>
    <url-pattern>/CapNhatTrangThaiGoBaiDangAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>controller.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapNhatThongTinAdminServlet</display-name>
    <servlet-name>CapNhatThongTinAdminServlet</servlet-name>
    <servlet-class>controller.CapNhatThongTinAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapNhatThongTinAdminServlet</servlet-name>
    <url-pattern>/CapNhatThongTinAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoiMatKhauAdminServlet</display-name>
    <servlet-name>DoiMatKhauAdminServlet</servlet-name>
    <servlet-class>controller.DoiMatKhauAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoiMatKhauAdminServlet</servlet-name>
    <url-pattern>/DoiMatKhauAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrangChuBatDongSanServlet</display-name>
    <servlet-name>TrangChuBatDongSanServlet</servlet-name>
    <servlet-class>controller.TrangChuBatDongSanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangChuBatDongSanServlet</servlet-name>
    <url-pattern>/TrangChuBatDongSanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietBaiDangTrangChuServlet</display-name>
    <servlet-name>ChiTietBaiDangTrangChuServlet</servlet-name>
    <servlet-class>controller.ChiTietBaiDangTrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietBaiDangTrangChuServlet</servlet-name>
    <url-pattern>/ChiTietBaiDangTrangChuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangNhapTrangChuServlet</display-name>
    <servlet-name>DangNhapTrangChuServlet</servlet-name>
    <servlet-class>controller.DangNhapTrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapTrangChuServlet</servlet-name>
    <url-pattern>/DangNhapTrangChuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatTrangChuServlet</display-name>
    <servlet-name>DangXuatTrangChuServlet</servlet-name>
    <servlet-class>controller.DangXuatTrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatTrangChuServlet</servlet-name>
    <url-pattern>/DangXuatTrangChuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemThongDiepTrangChuServlet</display-name>
    <servlet-name>ThemThongDiepTrangChuServlet</servlet-name>
    <servlet-class>controller.ThemThongDiepTrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemThongDiepTrangChuServlet</servlet-name>
    <url-pattern>/ThemThongDiepTrangChuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangKyThanhVienTrangChuServlet</display-name>
    <servlet-name>DangKyThanhVienTrangChuServlet</servlet-name>
    <servlet-class>controller.DangKyThanhVienTrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKyThanhVienTrangChuServlet</servlet-name>
    <url-pattern>/DangKyThanhVienTrangChuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangTinTrangChuServlet</display-name>
    <servlet-name>DangTinTrangChuServlet</servlet-name>
    <servlet-class>controller.DangTinTrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangTinTrangChuServlet</servlet-name>
    <url-pattern>/DangTinTrangChuServlet</url-pattern>
  </servlet-mapping>
</web-app>